*{
    margin: 0;
    padding: 0;

}
.navwar{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.nav-items{
    display: flex;
    justify-content: space-evenly;
    font-family:"Roboto" ;
    font-size: 25px;
    
}
.nav-item{
    margin-left: 40px;
}
.signin-btn{
    margin-right: 50px;
    padding: 0 20px;
    border-radius: 30px;
    margin-top: 15px;
    border: none;
    background-color: blueviolet;
    color: aliceblue;
    font-size: 20px;
    font-family: "Roboto";
    background-image: linear-gradient(to right ,#2c0aee,#f8f3f3);
}
.imgs-div{
    position: absolute;
    top: 130px;
    right: 50px;
    display: flex;
    margin-left: 480px;
}
.left-section{
    display: flex;
    flex-direction: column;
    width: 60%;
}
h1{
    margin-top: 150px;
    margin-left: 50px;
    font-size: 100px;
    font-family: "Roboto";
    color: blueviolet;
}
h4{
    margin-left: 50px;
    margin-top: 50px;
    font-family: "Roboto";
    color: blueviolet;
    font-size: 20px;
}
.learn-more-btn{
    margin-top: 80px;
    padding: 0 -30px;
    margin-right: 400px;
    margin-left: 90px;
    padding-top: 15px;
    text-align: center;
    padding-bottom: 15px;
    border-radius: 40px;
    background-color: aquamarine;
    font-size: 40px;
    color: aliceblue;
    border: none;
    font-family:"Roboto" ;
    background-image: linear-gradient(to right ,#3d1cf5,#fcf5f5);
}
.vector-img{
    position: absolute;
    right: 750px;
    top: 650px;
}
.main-div{
    background-image: url(images/backcover.svg);
    background-position: 580px;
    background-repeat: no-repeat;
    height: 120vh;
}
.logo{
    margin-left: 20px;
}
.back{
    
}



